/************************************/
/*          Body Styling            */
/************************************/
*
{
    font-family: 'Bradley Hand', cursive;
}

body
{
    /*Layout*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    /*Background*/
    background-color: #131313;
}





/************************************/
/*         Container Styling        */
/************************************/
.weather-container
{
    /*Layout*/
    display: flex;
    flex-direction: row;
    width: 650px; /* Adjust the width as needed */
    height: 350px; /* Adjust the height as needed */

    /*Border*/
    border-style: solid;
    border-width: 2px;
    border-color: rgb(63, 49, 49);
    border-radius: 20px;
}

.left-section 
{   
    /*Layout*/
    flex: 1;
    display: flex;
    flex-direction: column;

    /*Font*/

    /*Background*/
    background-image: url('background/Background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    opacity: 0.9;

    /*Border*/
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.right-section 
{
    /*Layout*/
    flex: 1.25;
    display: flex;
    flex-direction: column;

    /*Font*/
    color: black;

    /*Background*/
    background-color: rgb(210, 210, 210);

    /*Border*/
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/************************************/
/*        Sub Section Styling       */
/************************************/
.geography-sub-section
{
    /*Layout*/
    flex: 1;
    padding: 15px;

    /*Font*/
    /*Background*/
    /*Border*/
}

.weather-sub-section
{
    /*Layout*/
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding : 15px;

    /*Font*/
    color: lightgray;

    /*Background*/
    /*Border*/
}

.detail-sub-section
{
    /*Layout*/
    flex: 2;
    padding : 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*Font*/
    font-size: 16px;

    /*Background*/
    /*Border*/
}

.weeks-sub-section
{
    /*Layout*/
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding: 15px;

    /*Font*/
    /*Background*/
    /*Border*/
}

.location-sub-section
{
    /*Layout*/
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;

    /*Font*/
    /*Background*/
    /*Border*/
}





/************************************/
/*         Content Styling          */
/************************************/
.days
{
    /*Layout*/
    padding-bottom: 2px;

    /*Font*/
    font-weight: bold;
    font-size: 26px;

    /*Background*/
    /*Border*/
}

.date,
.time
{
    /*Layout*/
    padding-top: 2px;

    /*Font*/
    font-size: 16px;

    /*Background*/
    /*Border*/
}

.location
{
    /*Layout*/
    padding-top: 4px;

    /*Font*/
    font-style: italic;
    font-size: 14px;

    /*Background*/
    /*Border*/
}

.weather
{
    /*Layout*/
    /*Font*/
    font-weight: bold;
    font-size: 20px;

    /*Background*/
    /*Border*/
}

.temperature
{
    /*Layout*/
    padding-top: 2px;

    /*Font*/
    font-size: 16px;

    /*Background*/
    /*Border*/
}

.visibility,
.humidity,
.wind
{
    /*Layout*/
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    /*Font*/
    /*Background*/
    /*Border*/
}

#visibility,
#humidity,
#wind
{
    flex: 1;
}

.week
{
    /*Layout*/
    padding: 6px;
    display: flex;
    flex-direction: column;

    /*Font*/
    /*Background*/
    /* background-color: rgb(143, 66, 14); */
    background-color: rgb(66, 12, 12);

    /*Border*/
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}

.weekdays,
.days-temp,
.days-wea
{
    /*Layout*/
    /*Font*/
    font-size: 12px;
    color: lightgray;

    /*Background*/
    /*Border*/
}

.weekdays
{
    /*Layout*/
    flex: 1;

    /*Font*/
    /*Background*/
    /*Border*/
}

.days-temp
{
    /*Layout*/
    padding-bottom: 5px;

    /*Font*/
    /*Background*/
    /*Border*/
}

.days-wea
{
    /*Layout*/
    padding-bottom: 10px;

    /*Font*/
    font-size: 10px;

    /*Background*/
    /*Border*/
}


.search-bar
{
    /*Layout*/
    width: 70%;
    height: 50%;
    margin-right: 5px;
    padding-left: 5px;

    /*Font*/
    /*Background*/
    /*Border*/
    border: solid;
    border-width: 1px;
    border-radius: 7.5px;
    border-color: #676666;
}

.search-button
{
    /*Layout*/
    height: 25px;
    width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    /*Font*/
    /*Background*/

    /*Border*/
    border-radius: 7.5px;
}

.search-icon
{
    /*Layout*/
    height: 20px;
    width: 20px;

    /*Font*/
    /*Background*/
    /*Border*/
}






/************************************/
/*             Img Styling          */
/************************************/
.weekly-icon img
{
    width: 40px;
    height: 40px;
}

.weather-icon img
{
    width: 75px;
    height: 75px;
    margin-top: 10px;
}
